body {
    background-color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
}

.nav-bar_picture {
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    width: 1430px;
    height: 750px;
    background-image: url("media/img/mainfinal.png");
}

.container p{
    text-align: center;
    font-size: 30px;
}

.container img{
    padding-left: 500px;
    width: 500px;
    height: 400px;
}

.nav-bar_picture img {
    float: left;
}

.nav_bar .links {
    color: #060606;
    text-align: center;
    margin-left: 70px;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    width: 190px;
    padding-top: 60px;
    
}

.nav_bar a:hover {
    color: #0a6d17;
}

.nav_bar {
    width: 100%;
    height: 150px;
    border: 2px solid black;
    background-color:#62b3ba;
}

.container_link {
    width: 100%;
    height: 400px;
    border: 2px solid black;
}

.container_link p {
    text-align: center;
}

.container_link a {
    font-size: 30px;
    text-decoration: none;
}